h1 {
  color: green;
  font-style: italic;
}
.persons {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.addMessage {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.AppBar {
  background: rgb(139, 213, 247);
}

.AppBarLink {
  padding: 10px;
  margin-left: 40px;
  color: rgb(19, 40, 30);
  font-size: 22px;
}

.footer {
  background: rgb(165, 93, 93);
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
}
.footerText {
  margin-left: 30%;
}
.comment {
  height: 50px;
  width: 300px;
}
